@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:wght@300;400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #1da1f2;
    --color-secondary: #aaa5ff;
    --color-accent: #e40404;
    --color-body: #f4f4f4;
    --color-light: #fff;
    --color-dark: #050505;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    background: var(--color-body);
    line-height: 1.5;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Utility Classes */
.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 1.5rem;
}

.l-heading {
    font-size: 5rem;
    margin-bottom: 2rem;
    font-weight: 400;
    letter-spacing: 5px;
}

.m-heading {
    font-size: 3rem;
    margin-bottom: 2rem;
    font-weight: 400;
    letter-spacing: 5px;
}

.s-heading {
    font-size: 2.2rem;
    margin-bottom: 2rem;
    letter-spacing: 5px;
}

.profile {
    width: 180px;
    border-radius: 100%;
    margin-bottom: 2rem;
}

.btn {
    padding: 1.5rem 3vw;
    text-transform: uppercase;
    border: 0;
    border-radius: 5px;
    font-size: 1.5rem;
    letter-spacing: 1px;
    outline: 0;
    cursor: pointer;
    display: inline-block;
}

.btn-primary {
    background: var(--color-primary);
    color: var(--color-light);
    transition: transform 0.3s ease-out;
}

.btn-primary:hover {
    border: 1px solid var(--color-primary);
    background: var(--color-body);
    color: var(--color-primary);
    transform: translateY(-5px);
}

.btn-secondary {
    background: var(--color-secondary);
    color: var(--color-light);
    transition: opacity 0.5s;
}

.btn-secondary:hover {
    opacity: 0.7;
}

.btn-accent {
    background: var(--color-accent);
    color: var(--color-light);
    transition: transform 0.3s ease-out;
}

.btn-accent:hover {
    border: 1px solid var(--color-accent);
    background: var(--color-body);
    color: var(--color-accent);
    transform: translateY(-5px);
}

i {
    font-size: 55px;
    opacity: 0.7;
}

.icon-container {
    width: 100px;
    background: var(--color-light);
    padding: 1rem;
    border-radius: 100%;
}

.icon {
    width: 80px;
}

.card {
    background: var(--color-light);
    border-radius: 15px;
    flex: 1;
    margin-right: 4rem;
    overflow: hidden;
    transition: all 0.3s;
}

.card:hover {
    box-shadow: 1px -1px 13px 2px rgba(0, 0, 0, 0.3);
    transform: scale(1.02);
}

.date {
    font-size: 1.8rem;
    letter-spacing: 1px;
    font-weight: 300;
}

/* Navbar */
#nav {
    position: sticky;
    top: 0;
    background: var(--color-light);
    z-index: 1;
}

#nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

#nav .logo {
    font-family: "Great Vibes", cursive;
    font-size: 2.5rem;
    letter-spacing: 5px;
    color: var(--color-primary);
}

#nav .logo h1 {
    padding: 1.5rem;
}

#nav .logo h1::before,
#nav .logo h1::after {
    font-size: rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

#nav .logo h1::before {
    content: "<";
    margin-right: 1rem;
}

#nav .logo h1::after {
    content: "/>";
    margin-left: 1rem;
}

#nav ul {
    display: flex;
    align-items: center;
}

#nav ul li {
    margin-right: 1.5rem;
}

#nav ul li a {
    color: var(--color-dark);
    font-size: 2.2rem;
    padding: 1.5rem;
    font-weight: 300;
}

#nav ul li a:hover {
    color: var(--color-primary);
}

.toggle-button {
    position: absolute;
    top: 2rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background: var(--color-dark);
    border-radius: 10px;
}

/* Showcase */
#showcase .container {
    display: flex;
    align-items: center;
}

#showcase .content {
    margin-right: 5rem;
    text-align: justify;
    flex: 1;
}

#showcase .gif {
    flex: 1;
}

#showcase span#blinker {
    animation: blinker 1s linear infinite;
}

#showcase .content p {
    font-size: 3rem;
    margin-bottom: 2rem;
}

#showcase .content .btn {
    margin-right: 2rem;
    margin-top: 1rem;
}

#showcase .gif {
    margin-left: 5rem;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/* Skills */
#skills {
    margin-top: 4rem;
}

#skills .container {
    display: flex;
}

#skills .container .content {
    margin-left: 5rem;
    flex: 2;
    padding-left: 2rem;
}

#skills .container .content .l-heading {
    text-align: center;
    margin-top: -1.2rem;
    margin-bottom: 5rem;
}

#skills .icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#skills .icons li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 3rem;
}

#skills .icons li > h2 {
    margin-top: 1rem;
}

#skills .skills {
    width: 100%;
    margin-top: 6rem;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
}

#skills .skills .skill {
    width: 160px;
    height: 160px;
    position: relative;
    transition: transform 0.3s;
}

#skills .skills .skill:hover {
    transform: scale(1.05);
}

#skills .skills .skill .outer {
    height: 160px;
    width: 160px;
    border-radius: 100%;
    padding: 2rem;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
        -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

#skills .skills .skill .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 120px;
    border-radius: 100%;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
        inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
        -0.5px -0.5px 0px rgba(255, 255, 255, 1),
        0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
        0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

#skills .skills .skill .inner #name {
    font-weight: 600;
    color: var(--color-dark);
    font-size: 1.6rem;
    opacity: 0.7;
}

#skills .skills .skill circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
}

#skills .skills .skill:nth-child(1) circle {
    animation: anim1 2s linear forwards;
}

#skills .skills .skill:nth-child(2) circle {
    animation: anim2 2s linear forwards;
}

#skills .skills .skill:nth-child(3) circle {
    animation: anim3 2s linear forwards;
}

#skills .skills .skill svg {
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes anim1 {
    100% {
        stroke-dashoffset: 188.8;
    }
}

@keyframes anim2 {
    100% {
        stroke-dashoffset: 141.6;
    }
}

@keyframes anim3 {
    100% {
        stroke-dashoffset: 118;
    }
}

/* Experiences */
#experience {
    margin-top: 4rem;
}

#experience .experiences {
    display: flex;
    flex-wrap: wrap;
}

#experience .experiences .card .header {
    text-align: center;
    position: relative;
    height: 120px;
    width: 100%;
    padding: 1.5rem 0;
}

#experience .experiences .card .header .m-heading {
    font-weight: 500;
}

#experience .experiences .card .header .icon-container {
    position: absolute;
    top: 58%;
    left: 38%;
}

#experience .experiences .card:nth-child(1) .header {
    background: var(--color-primary);
    color: var(--color-light);
}
#experience .experiences .card:nth-child(2) .header {
    background: var(--color-accent);
    color: var(--color-light);
}
#experience .experiences .card:nth-child(3) .header {
    background: var(--color-secondary);
    color: var(--color-light);
}

#experience .experiences .card:nth-child(2) .header .icon-container {
    padding: 2rem;
}

#experience .experiences .card:nth-child(3) .header .icon-container {
    padding: 0.5rem;
}

#experience .experiences .card:nth-child(2) .header .icon {
    width: 55px;
}

#experience .experiences .card:nth-child(3) .header .icon {
    width: 90px;
}

#experience .experiences .card .body {
    text-align: center;
    padding: 2rem;
    margin-top: 6rem;
    margin-bottom: 3rem;
}

/* Contact */
#contact {
    margin-top: 4rem;
}

#contact .container {
    display: flex;
}

#contact .m-heading {
    margin-top: 3rem;
}

#contact .m-heading i {
    font-size: 3rem;
    color: var(--color-accent);
    opacity: 1;
}

#contact .contact-icons {
    margin-top: 4rem;
    display: flex;
}

#contact .contact-icons div {
    background: var(--color-dark);
    padding: 1.2rem;
    margin-right: 2rem;
    border-radius: 100%;
    cursor: pointer;
    transition: transform 0.2s;
}

#contact .contact-icons div:hover {
    transform: scale(1.05);
}

#contact .contact-icons i {
    font-size: 4.5rem;
    color: var(--color-body);
    opacity: 1;
}

#contact .contact-icon {
    width: 50%;
}

/* Footer */
#footer {
    text-align: center;
    font-size: 2rem;
    margin-top: 3rem;
    padding: 1.2rem;
    opacity: 0.7;
}
