@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:wght@300;400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #1da1f2;
    --color-secondary: #aaa5ff;
    --color-accent: #e40404;
    --color-body: #f4f4f4;
    --color-light: #fff;
    --color-dark: #050505;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    background: var(--color-body);
    line-height: 1.5;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Utility Classes */
.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 1rem;
}

.l-heading {
    font-size: 5rem;
    margin-bottom: 2rem;
}

.gif {
    padding: 2rem;
}

.btn {
    padding: 1.5rem 3vw;
    text-transform: uppercase;
    border: 0;
    border-radius: 5px;
    font-size: 1.5rem;
    letter-spacing: 1px;
    outline: 0;
    cursor: pointer;
    display: inline-block;
}

.btn-primary {
    background: var(--color-primary);
    color: var(--color-light);
    transition: transform 0.5s;
}

.btn-primary:hover {
    border: 1px solid var(--color-primary);
    background: var(--color-body);
    color: var(--color-primary);
    transform: translateY(5px);
    /* transform: rotate(20deg); */
}

.btn-secondary {
    background: var(--color-secondary);
    color: var(--color-light);
    transition: opacity 0.5s;
}

.btn-secondary:hover {
    opacity: 0.7;
}

.btn-accent {
    background: var(--color-accent);
    color: var(--color-light);
    transition: transform 0.5s;
}

.btn-accent:hover {
    border: 1px solid var(--color-accent);
    background: var(--color-body);
    color: var(--color-accent);
    transform: translateY(20px);
    transform: scaleX(0.5);
}

/* Navbar */
#nav {
    height: 14vh;
    position: sticky;
    top: 0;
    background: var(--color-body);
}

#nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
}

#nav .logo {
    font-family: "Great Vibes", cursive;
    font-size: 2.5rem;
    letter-spacing: 5px;
    color: var(--color-primary);
}

#nav .logo h1 {
    padding: 1rem;
    margin-top: 1rem;
}

#nav .logo h1::before,
#nav .logo h1::after {
    font-size: rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

#nav .logo h1::before {
    content: "<";
    margin-right: 1rem;
}

#nav .logo h1::after {
    content: "/>";
    margin-left: 1rem;
}

#nav ul {
    display: flex;
    align-items: center;
}

#nav ul li {
    margin-right: 1.5rem;
}

#nav ul li a {
    color: var(--color-dark);
    font-size: 2.2rem;
    padding: 1.5rem;
    font-weight: 300;
}

#nav ul li a:hover {
    color: var(--color-primary);
}

/* Showcase */
#showcase .container {
    display: flex;
    align-items: center;
}

#showcase .content {
    padding: 2rem;
    margin-right: 5rem;
    text-align: justify;
}

#showcase .content .l-heading {
    font-weight: 400;
    letter-spacing: 5px;
}

#showcase .content p {
    font-size: 3rem;
    margin-bottom: 3rem;
}

#showcase .content p:last-of-type {
    margin-bottom: 5rem;
}

#showcase .content .btn {
    margin-right: 2rem;
}

#showcase .gif {
    margin-left: 5rem;
}
