@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:wght@300;400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #1da1f2;
    --color-secondary: #aaa5ff;
    --color-accent: #e40404;
    --color-body: #f4f4f4;
    --color-light: #fff;
    --color-dark: #050505;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    background: var(--color-body);
    line-height: 1.5;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Utility Classes */
.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 1rem;
}

.l-heading {
    font-size: 5rem;
    margin-bottom: 2rem;
    font-weight: 400;
    letter-spacing: 5px;
}

.m-heading {
    font-size: 3rem;
    margin-bottom: 2rem;
    font-weight: 400;
    letter-spacing: 5px;
}

.s-heading {
    font-size: 2.2rem;
    margin-bottom: 2rem;
    letter-spacing: 5px;
}

.profile {
    width: 180px;
    border-radius: 100%;
    margin-bottom: 2rem;
}

.btn {
    padding: 1.5rem 3vw;
    text-transform: uppercase;
    border: 0;
    border-radius: 5px;
    font-size: 1.5rem;
    letter-spacing: 1px;
    outline: 0;
    cursor: pointer;
    display: inline-block;
}

.btn-primary {
    background: var(--color-primary);
    color: var(--color-light);
    transition: transform 0.3s ease-out;
}

.btn-primary:hover {
    border: 1px solid var(--color-primary);
    background: var(--color-body);
    color: var(--color-primary);
    transform: translateY(-5px);
}

.btn-secondary {
    background: var(--color-secondary);
    color: var(--color-light);
    transition: opacity 0.5s;
}

.btn-secondary:hover {
    opacity: 0.7;
}

.btn-accent {
    background: var(--color-accent);
    color: var(--color-light);
    transition: transform 0.3s ease-out;
}

.btn-accent:hover {
    border: 1px solid var(--color-accent);
    background: var(--color-body);
    color: var(--color-accent);
    transform: translateY(-5px);
}

i {
    font-size: 55px;
    opacity: 0.7;
}

.icon-container {
    width: 100px;
    background: var(--color-light);
    padding: 1rem;
    border-radius: 100%;
}

.icon {
    width: 80px;
}

.card {
    background: var(--color-light);
    border-radius: 15px;
    flex: 1;
    margin-right: 4rem;
    overflow: hidden;
    transition: all 0.3s;
}

.card:hover {
    box-shadow: 1px -1px 13px 2px rgba(0, 0, 0, 0.3);
    transform: scale(1.02);
}

.date {
    font-size: 1.8rem;
    letter-spacing: 1px;
    font-weight: 300;
}

/* Navbar */
#nav {
    height: 14vh;
    position: sticky;
    top: 0;
    background: var(--color-body);
    z-index: 1;
}

#nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
}

#nav .logo {
    font-family: "Great Vibes", cursive;
    font-size: 2.5rem;
    letter-spacing: 5px;
    color: var(--color-primary);
}

#nav .logo h1 {
    padding: 1rem;
    margin-top: 1rem;
}

#nav .logo h1::before,
#nav .logo h1::after {
    font-size: rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

#nav .logo h1::before {
    content: "<";
    margin-right: 1rem;
}

#nav .logo h1::after {
    content: "/>";
    margin-left: 1rem;
}

#nav ul {
    display: flex;
    align-items: center;
}

#nav ul li {
    margin-right: 1.5rem;
}

#nav ul li a {
    color: var(--color-dark);
    font-size: 2.2rem;
    padding: 1.5rem;
    font-weight: 300;
}

#nav ul li a:hover {
    color: var(--color-primary);
}

/* Showcase */
#showcase .container {
    display: flex;
    align-items: center;
}

#showcase .content {
    padding: 1.5rem;
    margin-right: 5rem;
    text-align: justify;
}

#showcase .content p {
    font-size: 3rem;
    margin-bottom: 2rem;
}

#showcase .content .btn {
    margin-right: 2rem;
    margin-top: 1rem;
}

#showcase .gif {
    margin-left: 5rem;
}

/* Skills */
#skills {
    margin-top: 4rem;
}

#skills .container {
    display: flex;
}

#skills .container .content {
    margin-left: 5rem;
}

#skills .icons {
    display: flex;
    align-items: center;
}

#skills .icons li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 3rem;
}

#skills .icons li > h2 {
    margin-top: 1rem;
}

#skills .skills {
    width: 100%;
    max-width: 600px;
    margin-top: 4rem;
}

#skills .skills .skill-name {
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 2rem 0;
}

#skills .skills .skill-bar {
    height: 14px;
    background: #2828289e;
    border-radius: 10px;
}

#skills .skills .skill-bar .skill-per {
    height: 14px;
    background: var(--color-secondary);
    border-radius: 10px;
    position: relative;
    animation: fillBars 2.5s 1;
}

#skills .skills .skill-bar .frontend {
    max-width: 60%;
}

#skills .skills .skill-bar .backend {
    max-width: 70%;
}

#skills .skills .skill-bar .programming {
    max-width: 75%;
}

@keyframes fillBars {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

/* Experiences */
#experience {
    margin-top: 4rem;
}

#experience .experiences {
    display: flex;
}

#experience .experiences .card .header {
    text-align: center;
    position: relative;
    height: 120px;
    width: 100%;
    padding: 1.5rem 0;
}

#experience .experiences .card .header .m-heading {
    font-weight: 500;
}

#experience .experiences .card .header .icon-container {
    position: absolute;
    top: 58%;
    left: 38%;
}

#experience .experiences .card:nth-child(1) .header {
    background: var(--color-primary);
    color: var(--color-light);
}
#experience .experiences .card:nth-child(2) .header {
    background: var(--color-accent);
    color: var(--color-light);
}
#experience .experiences .card:nth-child(3) .header {
    background: var(--color-secondary);
    color: var(--color-light);
}

#experience .experiences .card:nth-child(2) .header .icon-container {
    padding: 2rem;
}

#experience .experiences .card:nth-child(3) .header .icon-container {
    padding: 0.5rem;
}

#experience .experiences .card:nth-child(2) .header .icon {
    width: 55px;
}

#experience .experiences .card:nth-child(3) .header .icon {
    width: 90px;
}

#experience .experiences .card .body {
    text-align: center;
    padding: 2rem;
    margin-top: 6rem;
    margin-bottom: 3rem;
}
